#search-form {
    margin: 20px 0;
}
.foo {
    
}

#map-canvas {
    height: 200px;
}

#tempature {
    font-size: 50px;
    margin-top: 50px;
}

#unit-selector {
    margin-top: 20px;
}

.weather-icon {
    font-size: 100px;
    margin-top: 50px;
}